{% extends "base.html" %}
{% load static %}
{% block title %} Blog Detail {% endblock %}

{% block content %}
<section class="relative py-[6.875rem]">
    <div
        class="container xl:max-w-[67.5rem] lg:max-w-[57.5rem] md:max-w-[57.5rem] sm:max-w-[33.75rem] mx-auto px-[.9375rem]">
        <div class="blogWrap">
            <div class="grid grid-cols-1 xl:grid-cols-3 gap-[1.875rem]">
                <div class="blogInner flex flex-col gap-[1.875rem] col-span-3 xl:col-span-2">
                    <div class="postBox flex flex-col bg-white group rounded-[10px] md:rounded-[1.25rem] darkShadow relative overflow-hidden w-full wow fadeInUp p-[1.875rem] gap-6"
                        data-wow-delay="0.2s">
                        <div class="postImg overflow-hidden w-full">
                            <a href="{% url 'blog_detail' %}" title="5 Best App Development
                                    Tool for Your Project"><img class="w-full group-hover:scale-105"
                                    src="{% static 'img/resources/blog/1-1.svg' %}" alt="5 Best App Development
                                    Tool for Your Project" loading="lazy"></a>
                        </div><!-- Post Image -->
                        <div class="postInfo flex flex-col gap-5 items-start w-full">
                            <h2 class="font-bold text-heading leading-[1.2] text-3xl"><a
                                    class="hover:text-primary" href="{% url 'blog_detail' %}"
                                    title="5 Best App Development Tool for Your Project">5 Best App Development
                                    Tool for Your Project</a></h2>
                            <span class="flex gap-[10px] text-[#8b88b1] text-sm leading-tight"><a
                                    class="hover:text-primary" href="javascript:void(0);" title="">07 February,
                                    2020</a> . <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Bolby</a>. <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Reviews</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis.</p>
                            <a class="bg-primary text-white inline-block relative rounded-full text-base font-bold leading-none overflow-hidden py-3 px-8 before:bg-primary2 before:scale-x-0 before:opacity-0 hover:before:scale-x-100 hover:before:opacity-100 before:-z-[1] z-[1] before:inset-0 before:absolute hover:text-secondary focus:text-secondary text-center"
                                href="{% url 'blog_detail' %}" title="Read More">Read More</a>
                        </div><!-- Post Info -->
                    </div><!-- Post Box -->
                    <div class="postBox flex flex-col bg-white group rounded-[10px] md:rounded-[1.25rem] darkShadow relative overflow-hidden w-full wow fadeInUp p-[1.875rem] gap-6"
                        data-wow-delay="0.2s">
                        <div class="postImg overflow-hidden w-full">
                            <a href="{% url 'blog_detail' %}" title="Common Misconceptions About Payment"><img
                                    class="w-full group-hover:scale-105"
                                    src="{% static 'img/resources/blog/1-2.svg' %}"
                                    alt="Common Misconceptions About Payment" loading="lazy"></a>
                        </div><!-- Post Image -->
                        <div class="postInfo flex flex-col gap-5 items-start w-full">
                            <h2 class="font-bold text-heading leading-[1.2] text-3xl"><a
                                    class="hover:text-primary" href="blog-single.html"
                                    title="Common Misconceptions About Payment">Common Misconceptions About
                                    Payment</a></h2>
                            <span class="flex gap-[10px] text-[#8b88b1] text-sm leading-tight"><a
                                    class="hover:text-primary" href="javascript:void(0);" title="">07 February,
                                    2020</a> . <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Bolby</a>. <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Reviews</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis.</p>
                            <a class="bg-primary text-white inline-block relative rounded-full text-base font-bold leading-none overflow-hidden py-3 px-8 before:bg-primary2 before:scale-x-0 before:opacity-0 hover:before:scale-x-100 hover:before:opacity-100 before:-z-[1] z-[1] before:inset-0 before:absolute hover:text-secondary focus:text-secondary text-center"
                                href="{% url 'blog_detail' %}" title="Read More">Read More</a>
                        </div><!-- Post Info -->
                    </div><!-- Post Box -->
                    <div class="postBox flex flex-col bg-white group rounded-[10px] md:rounded-[1.25rem] darkShadow relative overflow-hidden w-full wow fadeInUp p-[1.875rem] gap-6"
                        data-wow-delay="0.2s">
                        <div class="postImg overflow-hidden w-full">
                            <a href="blog-single.html" title="3 Things To Know About Startup Business"><img
                                    class="w-full group-hover:scale-105"
                                    src="{% static 'img/resources/blog/1-3.svg' %}"
                                    alt="3 Things To Know About Startup Business" loading="lazy"></a>
                        </div><!-- Post Image -->
                        <div class="postInfo flex flex-col gap-5 items-start w-full">
                            <h2 class="font-bold text-heading leading-[1.2] text-3xl"><a
                                    class="hover:text-primary" href="blog-single.html"
                                    title="3 Things To Know About Startup Business">3 Things To Know About
                                    Startup Business</a></h2>
                            <span class="flex gap-[10px] text-[#8b88b1] text-sm leading-tight"><a
                                    class="hover:text-primary" href="javascript:void(0);" title="">07 February,
                                    2020</a> . <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Bolby</a>. <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Reviews</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis.</p>
                            <a class="bg-primary text-white inline-block relative rounded-full text-base font-bold leading-none overflow-hidden py-3 px-8 before:bg-primary2 before:scale-x-0 before:opacity-0 hover:before:scale-x-100 hover:before:opacity-100 before:-z-[1] z-[1] before:inset-0 before:absolute hover:text-secondary focus:text-secondary text-center"
                                href="{% url 'blog_detail' %}" title="Read More">Read More</a>
                        </div><!-- Post Info -->
                    </div><!-- Post Box -->
                    <div class="postBox flex flex-col bg-white group rounded-[10px] md:rounded-[1.25rem] darkShadow relative overflow-hidden w-full wow fadeInUp p-[1.875rem] gap-6"
                        data-wow-delay="0.2s">
                        <div class="postImg overflow-hidden w-full">
                            <a href="{% url 'blog_detail' %}" title="5 Best App Development Tool for Your Project"><img
                                    class="w-full group-hover:scale-105"
                                    src="{% static 'img/resources/blog/1-1.svg' %}"
                                    alt="5 Best App Development Tool for Your Project" loading="lazy"></a>
                        </div><!-- Post Image -->
                        <div class="postInfo flex flex-col gap-5 items-start w-full">
                            <h2 class="font-bold text-heading leading-[1.2] text-3xl"><a
                                    class="hover:text-primary" href="blog-single.html"
                                    title="5 Best App Development Tool for Your Project">5 Best App Development
                                    Tool for Your Project</a></h2>
                            <span class="flex gap-[10px] text-[#8b88b1] text-sm leading-tight"><a
                                    class="hover:text-primary" href="javascript:void(0);" title="">07 February,
                                    2020</a> . <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Bolby</a>. <a class="hover:text-primary" href="javascript:void(0);"
                                    title="">Reviews</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                eget dolor. Aenean massa. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                quam felis.</p>
                            <a class="bg-primary text-white inline-block relative rounded-full text-base font-bold leading-none overflow-hidden py-3 px-8 before:bg-primary2 before:scale-x-0 before:opacity-0 hover:before:scale-x-100 hover:before:opacity-100 before:-z-[1] z-[1] before:inset-0 before:absolute hover:text-secondary focus:text-secondary text-center"
                                href="{% url 'blog_detail' %}" title="Read More">Read More</a>
                        </div><!-- Post Info -->
                    </div><!-- Post Box -->
                    <div class="paginationWrap flex justify-center w-full mt-[1.875rem] wow fadeInUp">
                        <ul class="flex gap-5">
                            <li>
                                <a class="flex h-[3.125rem] w-[3.125rem] items-center justify-center rounded-full bg-white hover:bg-primary focus:bg-primary text-heading hover:text-white focus:text-white darkShadow transition-all duration-300 ease-linear font-medium"
                                    href="javascript:void(0)" title="">1</a>
                            </li>
                            <li>
                                <a class="flex h-[3.125rem] w-[3.125rem] items-center justify-center rounded-full bg-white hover:bg-primary focus:bg-primary text-heading hover:text-white focus:text-white darkShadow transition-all duration-300 ease-linear font-medium"
                                    href="javascript:void(0)" title="">2</a>
                            </li>
                            <li>
                                <a class="flex h-[3.125rem] w-[3.125rem] items-center justify-center rounded-full bg-white hover:bg-primary focus:bg-primary text-heading hover:text-white focus:text-white darkShadow transition-all duration-300 ease-linear font-medium"
                                    href="javascript:void(0)" title="">3</a>
                            </li>
                            <li>
                                <a class="flex h-[3.125rem] w-[3.125rem] items-center justify-center rounded-full bg-white hover:bg-primary focus:bg-primary text-heading hover:text-white focus:text-white darkShadow transition-all duration-300 ease-linear font-medium"
                                    href="javascript:void(0)" title="">...</a>
                            </li>
                            <li>
                                <a class="flex h-[3.125rem] w-[3.125rem] items-center justify-center rounded-full bg-white hover:bg-primary focus:bg-primary text-heading hover:text-white focus:text-white darkShadow transition-all duration-300 ease-linear font-medium"
                                    href="javascript:void(0)" title="">10</a>
                            </li>
                        </ul>
                    </div><!-- Pagination Wrap -->
                </div><!-- Blog Inner -->
                <aside class="sidebarWrap mt-7 xl:mt-0 flex flex-col gap-[1.875rem] col-span-3 xl:col-span-1">
                    <div
                        class="widgetBox p-5 bg-white rounded-[10px] md:rounded-[1.25rem] darkShadow relative w-full">
                        <form class="searchForm grid grid-cols-3 items-center gap-[10px] w-full">
                            <input class="rounded-full py-2 px-5 bg-gray h-10 col-span-2" type="text"
                                placeholder="Search..." />
                            <button
                                class="bg-primary text-white inline-block relative rounded-full text-base leading-none overflow-hidden py-3 px-5 before:bg-primary2 before:scale-x-0 before:opacity-0 hover:before:scale-x-100 hover:before:opacity-100 before:-z-[1] z-[1] before:inset-0 before:absolute hover:text-secondary focus:text-secondary text-center"
                                type="submit">Search</button>
                        </form>
                    </div><!-- Widget Box -->
                    <div
                        class="widgetBox flex flex-col p-5 pb-9 bg-white rounded-[10px] md:rounded-[1.25rem] darkShadow relative w-full gap-[.9375rem]">
                        <h3 class="font-bold text-heading leading-[1.2] text-2xl">Recent Posts</h3>
                        <ul class="flex flex-col pl-[1.1rem] list-disc gap-1">
                            <li><a class="hover:text-primary focus:text-primary" href="blog-single.html"
                                    title="5 Best App Development Tool for Your Project">5 Best App Development
                                    Tool for Your Project</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="blog-single.html"
                                    title="Common Misconceptions About Payment">Common Misconceptions About
                                    Payment</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="blog-single.html"
                                    title="3 Things To Know About Startup Business">3 Things To Know About
                                    Startup Business</a></li>
                        </ul>
                    </div><!-- Widget Box -->
                    <div
                        class="widgetBox flex flex-col p-5 pb-9 bg-white rounded-[10px] md:rounded-[1.25rem] darkShadow relative w-full gap-[.9375rem]">
                        <h3 class="font-bold text-heading leading-[1.2] text-2xl">Archives</h3>
                        <ul class="flex flex-col pl-[1.1rem] list-disc gap-1">
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="">February 2020</a></li>
                        </ul>
                    </div><!-- Widget Box -->
                    <div
                        class="widgetBox flex flex-col p-5 pb-9 bg-white rounded-[10px] md:rounded-[1.25rem] darkShadow relative w-full gap-[.9375rem]">
                        <h3 class="font-bold text-heading leading-[1.2] text-2xl">Categories</h3>
                        <ul class="flex flex-col pl-[1.1rem] list-disc gap-1">
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Business">Business</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Reviews">Reviews</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Tutorial">Tutorial</a></li>
                        </ul>
                    </div><!-- Widget Box -->
                    <div
                        class="widgetBox flex flex-col p-5 pb-9 bg-white rounded-[10px] md:rounded-[1.25rem] darkShadow relative w-full gap-[.9375rem]">
                        <h3 class="font-bold text-heading leading-[1.2] text-2xl">Meta</h3>
                        <ul class="flex flex-col pl-[1.1rem] list-disc gap-1">
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Log in">Log in</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Entries feed">Entries feed</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="Comments feed">Comments feed</a></li>
                            <li><a class="hover:text-primary focus:text-primary" href="javascript:void(0);"
                                    title="WordPress.org">WordPress.org</a></li>
                        </ul>
                    </div><!-- Widget Box -->
                </aside><!-- Sidebar Wrap -->
            </div>
        </div><!-- Blog Wrap -->
    </div>
</section><!-- Latest Posts Section -->
{% endblock %}